AZURE_CLIENT_ID=<TOKEN>
AZURE_CLIENT_SECRET=<TOKEN>
AZURE_TENANT_ID=<TOKEN>
USER_EMAIL=user@email.domain
PAPERLESS_URL=http://localhost:8000
PAPERLESS_TOKEN=<TOKEN>
MAIL_FOLDER=paperless
INBOX_TAG_ID=2
POLL_INTERVAL=300
TASK_TIMEOUT=120
TASK_INTERVAL=3